.st-bi {
    background: linear-gradient(to right, rgb(103, 49, 71) 0%, rgb(103, 49, 71) 100%, rgba(151, 166, 195, 0.25) 0%, rgba(151, 166, 195, 0.25) 100%);
}

.css-demzbm {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(103, 49, 71);
}

.st-bm {
    background: linear-gradient(to right, rgb(103, 49, 71) 0%, rgb(103, 49, 71) 100%, rgba(151, 166, 195, 0.25) 0%, rgba(151, 166, 195, 0.25) 100%);
}

css-10y5sf6 {
    color: rgb(103, 49, 71);
}
