/*.st-bi {
    background: linear-gradient(to right, rgb(103, 49, 71) 0%, rgba(151, 166, 195, 0.25) 100%);
}

.css-demzbm {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(103, 49, 71);
}
*/

# Set CSS properties for th elements in dataframe
th_props = [
  ('font-size', '11px'),
  ('text-align', 'center'),
  ('font-weight', 'bold'),
  ('color', '#6d6d6d'),
  ('background-color', '#f7f7f9')
  ]

# Set CSS properties for td elements in dataframe
td_props = [
  ('font-size', '11px')
  ]
